@import components/mixins
html 
    font-size: 1px
    +media(2200)
        font-size: 2px

body
    margin: 0
    padding: 0
    font-family: Open Sans
    background-color: #333
    background-image: url(../img/arrow-background.svg)

.hidden
    overflow: hidden

a
    display: inline-block
    text-decoration: none

p
    margin: 0
    
h1
    padding-bottom: 21rem
    color: #fff
    font-size: 20rem
    font-style: normal
    font-weight: 800
    line-height: 75px
    text-transform: uppercase
    +media(768)
        font-size: 60rem

h1, h2, h3 
    margin: 0
    padding: 0

ul
    margin: 0
    padding: 0
    li
        margin: 0
        list-style: none

.svg-container 
    width: 100%
    height: 100%

.my-svg 
    position: absolute
    top: 0
    left: 0
    background-repeat: repeat
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='16' viewBox='0 0 27 16' fill='none'%3E%3Cpath d='M0.432617 15.5135L13.3921 0.945923L26.3515 15.5135' stroke='black' stroke-opacity='0.2' /%3E%3C/svg%3E")
    z-index: -1

.wrapper
    padding: 0 25rem
    +media(768)
        padding: 0 50rem

.container 
    margin: 0 0 0 50rem 

.main-container
    flex-wrap: wrap
    column-gap: 25rem
    +media(768)
        flex-wrap: nowrap

.d-flex
    display: flex

.flex-wrap
    flex-wrap: wrap

.flex-between
    justify-content: space-between

.main-text
    position: relative
    max-width: 948rem

.elipse-box
    position: absolute
    filter: blur(4.66vw)
    z-index: -1

.elipse1
    width: 10.95vw
    height: 13.464vh
    top: 25%
    left: 0
    background: rgba(36, 215, 255, 0.80)
    border-radius: 13.464vh
    animation: elipse1 15s infinite
    animation-delay: 1s
    font-family: Arial, Helvetica, sans-serif
    
    @keyframes elipse1
        0%,100%
            opacity: 1
        50%
            opacity: 0

.elipse2
    width: 19.04vw
    height: 23.41vh
    top: 0
    right: 0
    background: rgba(36, 215, 255, 0.60)
    border-radius: 23.41vh
    animation: elipse2 12s infinite
    
    @keyframes elipse2
        0%,100%
            opacity: 1
        50%
            opacity: 0

.elipse3
    width: 7.524vw
    height: 9.25vh
    background: #24D7FF
    border-radius: 13.10vh
    top: 70%
    left: 50%
    transform: translate(-50% -70%)
    animation: elipse1 10s infinite
    animation-delay: 3s
    
    @keyframes elipse1
        0%,100%
            opacity: 1
        50%
            opacity: 0

.elipse4
    width: 18.73vw
    height: 23.08vh
    bottom: 0
    right: 0
    border-radius: 23.08vh
    background: rgba(36, 215, 255, 0.80)
    animation: elipse1 20s infinite
    animation-delay: 2s
    +media(768)
        right: -50%
    
    @keyframes elipse1
        0%,100%
            opacity: 1
        50%
            opacity: 0

.fixed-header
    padding-top: 100rem

.top-navigation
    position: fixed
    top: 0
    left: 0
    width: 100%
    padding: 30rem 30rem
    text-align: center
    align-items: center
    justify-content: center
    row-gap: 40rem
    z-index: 5
    +media(425)
        justify-content: space-between
        row-gap: 0

.fixed-navigation
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 105rem
    z-index: 3
    transition: all .5s ease

.scrolled 
    transition: all .5s ease
    background-color: #fff
    opacity: 0.5

.logo
    img
        width: 170rem
        height: 45rem
        flex-shrink: 0

.cellphone
    width: 250rem
    +media(390)
        max-width: 200rem
        justify-content: flex-start
        column-gap: 30rem
    a
        color: #fff
        text-align: right
        font-size: 16rem
        font-weight: 700
        letter-spacing: -0.72rem
        text-transform: uppercase

.number
    font-weight: 600
    transition: all .5s ease
    &:hover
        transform: scale(1.1)

.language-switch
    transition: all .5s ease
    &:hover
        opacity: 0.3
        animation: color 1s forwards
        transform: scale(1.1)

@keyframes color
    0%
        opacity: 0.2
        color: #fff
        transition: all ease 1s
    50%
        opacity: 0.5
    100%
        opacity: 1
        color: #fff
        transition: all ease 1s
  
.name-company
    position: relative
    top: 50%
    transform: translateY(-50%)

.main-project
    position: relative
    max-width: 948rem

.main-description
    color: #fff
    font-size: 15rem
    font-style: normal
    font-weight: 400
    +media(768)
        font-size: 25rem

.carousel
    width: 100%
    max-height: 100vh
    justify-content: center
    border-left: 15rem solid #292929
    border-right: 15rem solid #292929 
        
    
.center
    position: relative
    width: 300rem
    top: -40%
    left: 3%
    transform: translateY(-35%)

.up-block
    min-width: 200rem
    background-color: #ccc
    border: 10rem solid #292929
    border-top: 5rem solid #292929
    border-bottom: 5rem solid #292929
    filter: grayscale(1)
    // transition: 1s all ease
    &:hover
        filter: grayscale(0)
    +media(768)
        min-width: 200rem
    +media(1220)
        min-width: 250rem
    +media(1440)
        min-width: 350rem
        
.left-vertical,
.right-vertical
    position: relative
    // width: 100%
    width: 220px

.down-block,
.down-block-right
    left: 10%
    min-width: 150rem
    background-color: #fff
    border-top: 5rem solid #292929
    border-bottom: 5rem solid #292929
    transition: grayscale 1s ease
    filter: grayscale(1)
    &:hover
        filter: grayscale(0)
    +media(768)
        min-width: 150rem
    +media(1220)
        width: 200rem
        min-width: 200rem

.down-block 
    left: 20%
.image
    width: 100%
    height: 100%
    object-fit: cover

.center-button
    position: absolute
    top: 60%
    left: 50%
    width: 350rem
    height: 120rem
    background-color: #333
    transform: translateX(-50%)
    transition: all .5s ease
    &:hover
        transform: translateX(-50%) scale(1.1)

.center-main-button
    padding: 37rem 90rem

.portfolio
    position: relative
    display: inline-block
    margin: 0
    padding: 0 105rem 0 0
    color: #24d7ff
    font-size: 17rem
    font-style: normal
    font-weight: 800
    line-height: normal
    text-transform: uppercase

.button-text
    margin: 0
    padding-top: 7rem
    color: #fff
    font-size: 12rem
    font-style: normal
    font-weight: 400
    line-height: normal
    letter-spacing: -0.24rem

.menuOpen
    position: fixed
    left: -200%
    bottom: 23rem
    width: 100%
    min-height: 500rem
    transition: 0.5s

.menuOpenClicked
    left: 0
    bottom: 23rem

.menuNavCard
    &:first-child
        p
            position: relative
        a.cardHref:first-child p:before 
            content: ""
            position: absolute
            display: block
            width: 10rem
            height: 10rem
            flex-shrink: 0
            border-radius: 10rem
            background: var(--blu, #24D7FF)
            top: 50%
            left: -13rem
            transform: translate(-50%, -50%)
        a.cardHref:hover p:before 
            display: block
        a.cardHref p
            left: 18rem
    &:nth-child(2n)
        .cardImage
            background: url(../img/cover-business.webp), lightgray -1.376rem 0rem / 112% 100% no-repeat
            background-size: 103% 103%
            background-position: -3rem
    &:nth-child(3n)
        .cardImage
            background: url(../img/cover-portfolio.webp), lightgray -1.376rem 0rem / 112% 100% no-repeat
            background-size: 103% 103%
            background-position: -3rem
    &:nth-child(4n)
        .cardImage
            background: url(../img/cover-contacts.webp), lightgray -1.376rem 0rem / 112% 100% no-repeat
            background-size: 103% 103%
            background-position: -3rem
            
.cardImage 
    border-radius: 13rem
    width: 360rem
    min-height: 177rem
    background: url(../img/cover.jpg), lightgray -1.376rem 0rem / 112% 100% no-repeat
    background-size: 103% 103%
    background-position: -3rem
    border: 1rem solid #24D7FF
    transition: 0.5s
        
.cardHref
    text-decoration: none
    &:hover .cardImage
        background: url(../img/cover.jpg), lightgray -1.376rem 0rem / 112% 100% no-repeat
        background-size: 120% 120%
        background-position: -3rem
.cardTitle p
    color: #FFF
    font-size: 24rem
    
    font-style: normal
    font-weight: 600
    line-height: normal
    letter-spacing: -1.08rem
    text-transform: uppercase
    margin-bottom: 10rem

.cardsOverflow
    column-gap: 5rem
    flex-wrap: wrap
.menuButton
    position: fixed
    z-index: 2
    bottom: 60rem
    transition: 1s
    left: 50rem
    &::before
        content: ''
        position: absolute
        border-radius: 50%
        background: var(--blu, #24D7FF)
        box-shadow: 0rem 3rem 8rem 1rem rgba(0, 0, 0, 0.20)
    p
        position: absolute
        left: 42%
        padding-bottom: 50%
        bottom: 55%
        transform-origin: 0% 100%
        color: #E4E4E4
        font-size: 17rem
        font-style: normal
        font-weight: 500
        line-height: normal
.menuBtnClicked
    left:50%
    transform: translate(-50%, 0%) rotateZ(180deg)
.menuButton, .menuButton:before
    width: 100rem
    height: 100rem
.menuButton p:nth-of-type(1) 
    transform: rotate(295deg)
.menuButton p:nth-of-type(2) 
    transform: rotate(310deg)
.menuButton p:nth-of-type(3) 
    transform: rotate(320deg)
.menuButton p:nth-of-type(4) 
    transform: rotate(330deg)

.bottom-contacts
    justify-content: space-between

.footer-text
    color: #fff
    font-size: 24rem
    font-style: normal
    font-weight: 600
    line-height: normal
    letter-spacing: -1.08rem
    text-transform: uppercase

.bottom-cell
    padding-right: 25rem
    color: #24D7FF
    font-size: 15rem
    font-style: normal
    font-weight: 600
    line-height: normal
    letter-spacing: 0.75rem
    text-transform: uppercase
    transition: all .5s ease
    &:hover
        transform: scale(1.1)

.arrow
    position: relative
    &::after
        content: ""
        position: absolute
        top: 50%
        right: 5rem
        width: 10rem
        height: 10rem
        background: url("../img/arrow.svg")
        transform: translateY(-50%)

.copyright
    margin-bottom: 30rem
    text-align: center
    p
        color: #fff
        font-size: 14rem
        font-style: normal
        font-weight: 600
        line-height: normal
        letter-spacing: 0.7rem
        text-transform: uppercase
// contacts.html
.title
    color: #FFF
    /* h1 */
    font-size: 60rem
    font-style: normal
    font-weight: 800
    line-height: 75rem
    text-transform: uppercase
    margin: 0

.title-h3
    /* h3 */
    font-size: 24rem
    font-style: normal
    font-weight: 600
    line-height: normal
    letter-spacing: -1.08rem
    text-transform: uppercase

.main-contacts
    padding-top: 25rem
    margin-bottom: 50rem
    column-gap: 74rem
    .title-h3
        color: #24D7FF
.container-contacts
    p
        color: #FFF
        font-size: 16rem
        
        font-style: normal
        font-weight: 600
        line-height: 16rem
        letter-spacing: 0.8rem
        a
            text-decoration: none
            color: #FFF
            line-height: 16rem
input, textarea
    box-sizing: border-box
.contacts-form
    label
        display: inline-block
    input:not(input[type=file])
        max-width: 400rem
        padding: 0 10rem
        width: 100%
        margin-bottom: 21rem
    textarea
        max-width: 870rem
        padding: 10rem
    input, textarea
        color: #FFF
        font-size: 12rem
        font-style: normal
        font-weight: 400
        line-height: normal
        letter-spacing: 0.6rem
input[type=file]
    display: none

.input-outline
    border: 1rem solid #24D7FF
    background-color: transparent
    outline: none
    min-height: 40rem
.contacts-wrap
    max-width: 870rem
    padding: 0 50rem 
    margin: 0 auto !important

.no-odject-fit img
    object-fit: contain !important
    
.for-small-input
    width: 100%
    max-width: 400rem

.contact-message-area
    width: 100%
    margin-bottom: 21rem
    max-height: 139rem

.for-large-input  
    width: 100%

.allow-file-types-container
    display: flex
    align-items: center
    box-sizing: border-box
    position: relative
    width: 100% 
    max-height: 40rem
    padding: 0 10rem
    margin-bottom: 30rem
    &::after
        content: ''
        position: absolute
        width: 40rem
        height: 39rem
        top: 0
        background-color: #24D7FF
        right: 0
    &::before
        content: '+'
        font-size: 17rem
        font-family: Montserrat
        position: absolute
        color: #fff
        right: 14.045rem
        z-index: 1
    p
        color: #FFF
        font-size: 12rem
        
        font-style: normal
        font-weight: 400
        line-height: normal
        letter-spacing: 0.6rem
.title-absolute
    margin-bottom: 29rem

.for-small-input > h3, .for-large-input > h3
    color: #fff
    line-height: 1.4em

.submit
    justify-content: center
    display: flex
    button
        cursor: pointer
        color: #FFF
        background: #24D7FF
        font-size: 18rem
        
        font-style: normal
        font-weight: 600
        text-transform: uppercase
        display: inline-block
        padding: 10rem 41rem
        border: 0

.input-column-gap
    column-gap: 10rem

// portfolio
.portfolio-wrapper
    width: 76.3%
    margin: 0 auto

.portfolio-main
    padding-top: 71rem

.blue-text
    color: #24D7FF

.portfolio-margin
    margin-bottom: 139rem

footer.portfolio-wrapper 
    padding-bottom: 45rem
    .wrapper
        margin: 0

h1.title.portfolio-margin 
    div:not(div:first-child)
        display: none
        min-height: 300rem

.portfolio-slider-ul
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    text-align: center
    column-gap: 15rem
    padding: 0
    margin-bottom: 44rem
    li 
        list-style-type: none
        cursor: pointer
        color: #fff
        &:hover 
            color: #24D7FF
        &:first-child
            color: #24D7FF

.portfolio-slider
    margin-bottom: 125rem
    overflow-x: scroll 
    &::-webkit-scrollbar
        height: 8rem
        background: transparent
    
    &::-webkit-scrollbar-thumb 
        background-color:  rgba(#24D7FF, 0.8)

    & > div
        column-gap: 50rem
        margin-left: 11.85%
        padding-bottom: 15rem
        &:first-child
            display: flex
    & img
        width: 750rem
        height: 400rem
        object-fit: cover
    .card-slider img
        margin-bottom: 28rem
        

.decor-none
    color: #fff
    text-decoration: none

.portfolio-slider div.display
    display: flex


.tabs-block 
    display: none
    transition: 1s

.tabs-block:target 
    display: flex


.text-normal
    color: #FFF
    /* body */
    
    font-size: 18rem
    font-style: normal
    font-weight: 400
    line-height: 140%
    letter-spacing: 0.72rem
    margin-bottom: 50rem

.portfolio-img-smaller
    display: flex
    flex-wrap: wrap
    column-gap: 4%
    row-gap: 50rem
    img
        object-fit: cover
        height: 23.5vw
        width: 100%
        margin-bottom: 27rem

.portfolio-img-smaller-margin
    margin-bottom: 50rem

.portfolio-img-smaller .decor-none
    width: 48%

.portfolio-more-title
    margin-bottom: 25rem

.portfolio-more-h3-margin
    margin-bottom: 30rem

.portfolio-submit-margin
    margin-bottom: 140rem

.slide-default
    transform: translateY(0rem)
    transition: 1s

.menu-slide-upper
    filter: blur(2px)
    transform: translateY(-500rem)
