doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")

        title Document
        link(rel="stylesheet", href="css/styles.css")        
    body
        include components/mixins
        .svg-container 
            .my-svg
        .popup-outline
            .popup-developer.relative
                .popup-developer__close
                .d-flex.flex-wrap.flex-between.popup-developer__top
                    .popup-developer__image.developer-image
                        picture 
                            source(srcset="" type="image/jpg")
                            img(src="img/no-developer-img.svg", alt="")
                    .popup-developer__description.developer-description
                        h2.developer-description__name імʼя прізвище
                        span.developer-description__position developer
                        p.developer-description__about is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                .developer-portfolio 
                    span.developer-description__position Портфоліо
                    .developer-portfolio__slider.developer-slider
                        .developer-slider__card.card-slider
                            a(href="#") 
                            img(loading="lazy" src="img/omegadev.png" alt="").card-slider__img
                            h3.title-h3.card-slider__h3
                                span.blue-text Omega Dev | Development Services
                        .developer-slider__card.card-slider
                            a(href="#") 
                            img(loading="lazy" src="img/omegadev.png" alt="").card-slider__img
                            h3.title-h3.card-slider__h3
                                span.blue-text Omega Dev | Development Services
                        .developer-slider__card.card-slider
                            a(href="#") 
                            img(loading="lazy" src="img/omegadev.png" alt="").card-slider__img
                            h3.title-h3.card-slider__h3
                                span.blue-text Omega Dev | Development Services
                        .developer-slider__card.card-slider
                            a(href="#") 
                            img(loading="lazy" src="img/omegadev.png" alt="").card-slider__img
                            h3.title-h3.card-slider__h3
                                span.blue-text Omega Dev | Development Services



        header.fixed-header.container
            .fixed-navigation
                +headerLogo('img/logo.svg', 'ua', 'index.html', 'logo', '097 302 1025')  
        .hidden
            div#menu-slide.slide-default
                span.elipse-box.elipse1
                span.elipse-box.elipse2
                span.elipse-box.elipse3
                span.elipse-box.elipse4
                span.elipse-box.elipse5
                main
                    section.our-proposition.main-wrapper
                        h1.name-about Давайте додамо вашому бізнесу фарб
                        .description-us.d-flex
                            .emptu-box
                            .description-block
                                h2 Хто ми такі, та чим займаємось?
                                p Hashtag developers це веб-студія, яка надає високоякісні послуги з розробки веб-сайтів та веб-додатків. Ми працюємо з клієнтами по всьому світу, допомагаючи їм створювати вражаючі та ефективні веб-продукти, які привертають увагу та забезпечують результати.
                    section.service.main-wrapper
                        h2.our-service наші послуги
                        ul.d-flex.main-menu 
                            li.menu 
                                a.header-menu(href="#") Розробка сайтів
                                ul.sub-menu 
                                    li 
                                        a(href="#") Сайт - візитка
                                    li 
                                        a(href="#") Landing page
                                    li 
                                        a(href="#") Корпоративний сайт
                                    li 
                                        a(href="#") Інтернет - магазин
                                    li 
                                        a(href="#") Сайт - портфоліо
                            li.menu 
                                a.header-menu(href="#") Дизайн
                                ul.sub-menu  
                                    li 
                                        a(href="#") Логотип
                                    li 
                                        a(href="#") Бренд - бук
                                    li 
                                        a(href="#") Дизайн сайту
                                    li 
                                        a(href="#") Візитки
                                    li 
                                        a(href="#") Рекламні креативи
                            li.menu 
                                a.header-menu(href="#") Маркетинг
                                ul.sub-menu  
                                    li 
                                        a(href="#") Таргетована реклама
                                    li 
                                        a(href="#") SEO - просування сайту
                                    li 
                                        a(href="#") Ведення соцмереж
                                    li 
                                        a(href="#") Реклама гугл
                                    li 
                                        a(href="#") Контекстна реклама
                            li.menu 
                                a.header-menu(href="#") Технічні послуги
                                ul.sub-menu  
                                    li 
                                        a(href="#") Підтримка сайту
                                    li 
                                        a(href="#") Аудит сайту
                                    li 
                                        a(href="#") Налаштування хостингу
                                    li 
                                        a(href="#") Інтернет - магазин
                    section.portfolio-main.aboutus-portfolio-main
                        .descript-portfolio.d-flex 
                            h2.our-portfolio Наше портфоліо
                            p
                                a.arrow.more(href="portfolio.html") Детальніше           
                        .portfolio-slider.aboutus-portfolio
                            .portfolio-slider-look-all.tabs-block.aboutus-portfolio.d-flex#slideLookAll
                                +sliderLookSite(sliderLookSite.img1, "blue-text")
                                +sliderLookSite(sliderLookSite.img2, "blue-text")
                                +sliderLookSite(sliderLookSite.img3, "blue-text")
                                +sliderLookSite(sliderLookSite.img4, "blue-text")
                    section.main-wrapper.team-section
                        h3.our-team Наша команда
                        +ourTeam()
            
                .portfolio-wrapper           
                    +footerContact(footer)
            +menu('about')

        script(src="js/scripts.js") 