doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        title Document

        link(rel="stylesheet", href="css/styles.css")
        
    body
        include components/mixins
        include components/sitemixin
        .svg-container 
            .my-svg
        header.fixed-header.container
            .fixed-navigation
                +headerLogo('img/logo.svg', 'ua', 'index.html', 'logo', '097 302 1025')  
        div#menu-slide.slide-default
            .hidden-elipse
                span.elipse-box.elipse1
                span.elipse-box.elipse2
                span.elipse-box.elipse3
                span.elipse-box.elipse4
                span.elipse-box.elipse5
            main
                +oursWorks(site.highWay)
        .main-wrapper            
            +footerContact(footer)
        .menuButton#menuBtn
            .menuText
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <circle fill="rgba(36, 215, 255, 1)" cx="67" cy="67" r="50"></circle>
                        <text x="20">
                            <textPath class="path" xlink:href="#circlePath">
                                <tspan font-weight="500" font-size="17" fill="#fff">Меню</tspan>
                            </textPath>
                        </text>
                        <defs>
                            <path id="circlePath" d="M 10 67, Q10,10 67,10"></path>
                        </defs>
                    </svg>
        div.menuOpen#menuOpen
            .cardsOverflow.d-flex.wrapper.flex-between
                +cardsMenuInfo(cardsMenuInfo.general)
                +cardsMenuInfo(cardsMenuInfo.aboutUs)
                +cardsMenuInfo(cardsMenuInfo.portfolio)
                +cardsMenuInfo(cardsMenuInfo.contacts)

    script(src="js/scripts.js") 