doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        title Document
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="css/styles.css")
    body
        include components/mixins
        .hidden
            div#menu-slide.slide-default
                .svg-container 
                    .my-svg
                header.container
                    .main-container.d-flex.flex-between
                        .main-text 
                            span.elipse-box.elipse1
                            span.elipse-box.elipse2
                            span.elipse-box.elipse3
                            span.elipse-box.elipse4
                            +headerLogo('img/logo.svg', 'ua', 'index.html', 'logo', '097 302 1025')  
                            .name-company
                                h1 Hashtag Developers: Дизайн агенція та 
                                    nobr веб-розробка 
                                p.main-description Створення сайтів будь-якого ступеня складності. Розкрутка та просування сайту. Послуги з обслуговування та підтримки сайту. 
                        div.btn-href.flex-btn
                            a(href="portfolio.html")
                                .center-button
                                    p.portfolio#arrow-main Портфоліо
                                        span.button-text Брендинг - Розробка - дизайн
                        .main-project.hidden.d-flex
                            .left-vertical
                                .down-block
                                    picture 
                                        img.image.image-left(loading="lazy" src="img/treemcb.jpg", alt="")
                                .down-block
                                    picture 
                                        img.image.image-left(loading="lazy" src="img/decstop.jpg", alt="")
                                .down-block
                                    picture 
                                        img.image.image-left(loading="lazy" src="img/coffe.png", alt="")
                                .down-block
                                    picture 
                                        img.image.image-left(loading="lazy" src="img/treemcb.jpg", alt="")
                                .down-block
                                    picture 
                                        img.image.image-left(loading="lazy" src="img/decstop.jpg", alt="")
                                .down-block
                                    picture 
                                        img.image.image-left(loading="lazy" src="img/coffe.png", alt="")
                                .down-block
                                    picture 
                                        img.image.image-left(loading="lazy" src="img/treemcb.jpg", alt="")
                                .down-block
                                    picture 
                                        img.image.image-left(loading="lazy" src="img/decstop.jpg", alt="")
                            .center 
                                .up-block.center-block
                                    picture 
                                        img.image(loading="lazy" src="img/mackbook.jpg", alt="")
                                .up-block.center-block
                                    picture 
                                        img.image(loading="lazy" src="img/magazine.png", alt="")
                                .up-block.center-block
                                    picture 
                                        img.image(loading="lazy" src="img/website.jpg", alt="")
                                .up-block.center-block
                                    picture 
                                        img.image(loading="lazy" src="img/mackbook.jpg", alt="")
                                .up-block.center-block
                                    picture 
                                        img.image(loading="lazy" src="img/magazine.png", alt="")
                                .up-block.center-block
                                    picture 
                                        img.image(loading="lazy" src="img/website.jpg", alt="")
                                .up-block.center-block
                                    picture 
                                        img.image(loading="lazy" src="img/mackbook.jpg", alt="")
                                .up-block.center-block
                                    picture 
                                        img.image(loading="lazy" src="img/magazine.png", alt="")
                            .right-vertical
                                .down-block-right
                                    picture     
                                        img.image(loading="lazy" src="img/decstop.jpg", alt="")
                                .down-block-right
                                    picture 
                                        img.image(loading="lazy" src="img/note.png", alt="")
                                .down-block-right
                                    picture 
                                        img.image(loading="lazy" src="img/annalogo.png", alt="")
                                .down-block-right
                                    picture     
                                        img.image(loading="lazy" src="img/decstop.jpg", alt="")
                                .down-block-right
                                    picture 
                                        img.image(loading="lazy" src="img/note.png", alt="")
                                .down-block-right
                                    picture 
                                        img.image(loading="lazy" src="img/annalogo.png", alt="")
                                .down-block-right
                                    picture     
                                        img.image(loading="lazy" src="img/decstop.jpg", alt="")
                                .down-block-right
                                    picture 
                                        img.image(loading="lazy" src="img/note.png", alt="")
            .menuButton#menuBtn
                .menuText
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <circle fill="rgba(36, 215, 255, 1)" cx="67" cy="67" r="50"></circle>
                        <text x="20">
                            <textPath class="path" xlink:href="#circlePath">
                                <tspan font-weight="500" font-size="17" fill="#fff">Меню</tspan>
                            </textPath>
                        </text>
                        <defs>
                            <path id="circlePath" d="M 10 67, Q10,10 67,10"></path>
                        </defs>
                    </svg>
            div.menuOpen#menuOpen
                .cardsOverflow.d-flex.wrapper.flex-between
                    +cardsMenuInfo(cardsMenuInfo.general)
                    +cardsMenuInfo(cardsMenuInfo.aboutUs)
                    +cardsMenuInfo(cardsMenuInfo.portfolio)
                    +cardsMenuInfo(cardsMenuInfo.contacts)

        script(src="js/scripts.js") 