doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/styles.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700;800&display=swap" rel="stylesheet")
    body 
        //- test
        include components/mixins
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="16" viewBox="0 0 27 16"  fill="none">
            <path d="M0.432617 15.5135L13.3921 0.945923L26.3515 15.5135" stroke="black" stroke-opacity="0.2"/>
        </svg>
        header.wrapper
            .main-container.d-flex
                .main-text 
                    +headerLogo(logo)  
                    .name-company
                        h1 Hashtag, Дизайн агенція та веб-розробка
                        h2.main-description Створення сайтів будь-якого ступеня складності. Розкрутка та просування сайту. Послуги з обслуговування та підтримки сайту. 
                .main-project
                    .carousel.d-flex
                        .left-vertical
                            .down-block.treemcb
                            .down-block.decstop
                            .down-block.card
                        .center 
                            .up-block.center-block.mcb
                            .up-block.center-block.magazine
                            .up-block.center-block.website
                        .right-vertical
                            .down-block.decstop
                            .down-block.note
                            .down-block.annalogo
            a(href="#")
                .center-button
                    .center-main-button
                        p.portfolio.arrow Портфоліо
                        p.button-text Брендинг - Розробка - дизайн
            .menuButton#menuBtn
                .menuText
                    p М
                    p е
                    p н
                    p ю
        div.menuOpen#menuOpen
            .cardsOverflow.d-flex.wrapper.flex-between
                +cardsMenuInfo(cardsMenuInfo.general)
                +cardsMenuInfo(cardsMenuInfo.aboutUs)
                +cardsMenuInfo(cardsMenuInfo.portfolio)
                +cardsMenuInfo(cardsMenuInfo.contacts)

        script(src="js/scripts.js") 