doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/styles.css")
    body
        include components/mixins
        .svg-container 
            .my-svg
        header.fixed-header
            .fixed-navigation
            .wrapper 
                +headerLogo('img/logo.svg', 'ua', 'index.html', 'logo', '097 302 1025')  
                .main-project
        div#menu-slide.slide-default
            main.portfolio-main
                .portfolio-wrapper 
                    h1.title.portfolio-more-title
                        .content-look-logo
                            | Потрібно створити логотип якісно та швидко? 
                            span.blue-text Hashtag Developers
                            |  до ваших послуг.

                    p.text-normal Логотип - це один з найважливіших елементів будь-якого бізнесу. Він є візуальним символом, який представляє вашу компанію і стає визначним знаком вашого бренду. Один з головних аспектів важливості логотипу полягає у його візуальній ідентичності. Логотип створює унікальний образ вашої компанії, який відрізняє вас від конкурентів і допомагає клієнтам розпізнавати вас серед інших. Якщо логотип відображає вашу унікальність і цінності, він може стати потужним засобом розпізнаваності бренду.
                    h3.title-h3.blue-text.portfolio-more-h3-margin Приклади виконаних робіт
                    .portfolio-slider-look-logo.portfolio-img-smaller.portfolio-img-smaller-margin
                        .d-flex.flex-between.portfolio-small-img-flex
                            +sliderLookLogo(sliderLookLogo.img1)
                            +sliderLookLogo(sliderLookLogo.img2)
                        .d-flex.flex-between.portfolio-small-img-flex
                            +sliderLookLogo(sliderLookLogo.img3)
                            +sliderLookLogo(sliderLookLogo.img4)
                        .d-flex.flex-between.portfolio-small-img-flex
                            +sliderLookLogo(sliderLookLogo.img5)
                            +sliderLookLogo(sliderLookLogo.img6)
                    .submit.portfolio-submit-margin 
                        form(action="", method="post") 
                            button(type="submit") замовити
        .menuButton#menuBtn
            .menuText
                p М
                p е
                p н
                p ю
        div.menuOpen#menuOpen
            .cardsOverflow.d-flex.wrapper.flex-between
                +cardsMenuInfo(cardsMenuInfo.general)
                +cardsMenuInfo(cardsMenuInfo.aboutUs)
                +cardsMenuInfo(cardsMenuInfo.portfolio)
                +cardsMenuInfo(cardsMenuInfo.contacts)
        footer.portfolio-wrapper 
            +footerContact(footer)
        script(src="js/scripts.js") 

