doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/styles.css")
    body
        include components/mixins
        .hidden
            .svg-container 
                .my-svg
            header.fixed-header.container
                .fixed-navigation
                    +headerLogo('img/logo.svg', 'ua', 'index.html', 'logo', '097 302 1025')  
            div#menu-slide.slide-default
                span.elipse-box.elipse1
                span.elipse-box.elipse2
                span.elipse-box.elipse3
                span.elipse-box.elipse4
                span.elipse-box.elipse5
                main.portfolio-main
                    .portfolio-wrapper 
                        .title.portfolio-more-title
                            .content-look-reklam#contentReklam
                                span.blue-text Рекламні креативи 
                                | є ефективним інструментом для просування бізнесу і залучення уваги цільової аудиторії.

                        .text-normal 
                            p Розробка рекламних креативів - ключовий елемент успішної рекламної кампанії. Вони візуально привертають увагу, комунікують повідомлення і створюють незабутнє враження. Наша команда професіоналів спеціалізується на створенні унікальних та ефективних рекламних креативів, які допоможуть вашому бренду виділитися серед конкурентів.
                        .portfolio-more-h3-margin
                            h3.title-h3.blue-text Приклади виконаних робіт
                        .portfolio-slider-look-logo.portfolio-img-smaller.portfolio-img-smaller-margin
                            .d-flex.flex-between.portfolio-small-img-flex
                                +sliderLookReklamCreat(sliderLookReklamCreat.img1)
                                +sliderLookReklamCreat(sliderLookReklamCreat.img3)
                            .d-flex.flex-between.portfolio-small-img-flex
                                +sliderLookReklamCreat(sliderLookReklamCreat.img2)
                                +sliderLookReklamCreat(sliderLookReklamCreat.img5)
                            .d-flex.flex-between.portfolio-small-img-flex
                                +sliderLookReklamCreat(sliderLookReklamCreat.img6)
                                +sliderLookReklamCreat(sliderLookReklamCreat.img7)
                            .d-flex.flex-between.portfolio-small-img-flex
                                +sliderLookReklamCreat(sliderLookReklamCreat.img8)
                                +sliderLookReklamCreat(sliderLookReklamCreat.img9)

                        .submit.portfolio-submit-margin 
                            a(href="contacts.html") замовити
            .menuButton#menuBtn
                .menuText
                    p М
                    p е
                    p н
                    p ю
            div.menuOpen#menuOpen
                .cardsOverflow.d-flex.wrapper.flex-between
                    +cardsMenuInfo(cardsMenuInfo.general)
                    +cardsMenuInfo(cardsMenuInfo.aboutUs)
                    +cardsMenuInfo(cardsMenuInfo.portfolio)
                    +cardsMenuInfo(cardsMenuInfo.contacts)
            footer.portfolio-wrapper 
                +footerContact(footer)
        script(src="js/scripts.js") 

