doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/styles.css")
    body
        include components/mixins 
        .svg-container 
            .my-svg
        header.wrapper
            .main-container
                +headerLogo('img/logo.svg', 'ua', 'index.html', 'logo', '097 302 1025')  
                .main-project
        .menuButton#menuBtn
            .menuText
                p М
                p е
                p н
                p ю
        div.menuOpen#menuOpen
            .cardsOverflow.d-flex.wrapper.flex-between
                +cardsMenuInfo(cardsMenuInfo.general)
                +cardsMenuInfo(cardsMenuInfo.aboutUs)
                +cardsMenuInfo(cardsMenuInfo.portfolio)
                +cardsMenuInfo(cardsMenuInfo.contacts)
        footer.portfolio-wrapper 
            +footerContact(footer)
        script(src="js/scripts.js") 

