doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="css/portfoliosite.css")
    body
        div#menu-slide.slide-default
            include components/mixins
            include components/sitemixin
            .svg-container 
                .my-svg
            header.container
                    .main-text 
                        +headerLogo(logo)
            main
                +oursWorks(site.westRecycling)
        .menuButton#menuBtn
                .menuText
                    p М
                    p е
                    p н
                    p ю
        div.menuOpen#menuOpen
            .cardsOverflow.d-flex.wrapper.flex-between
                +cardsMenuInfo(cardsMenuInfo.general)
                +cardsMenuInfo(cardsMenuInfo.aboutUs)
                +cardsMenuInfo(cardsMenuInfo.portfolio)
                +cardsMenuInfo(cardsMenuInfo.contacts)
        
        .main-wrapper            
            +footerContact(footer)

        script(src="js/scripts.js") 